<!DOCTYPE html>
<html>
<head>
    <title>公开数据集应用平台</title>
    <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="semantic.min.css")}}'>
    <script type="text/javascript" src='{{url_for("static",filename="jquery-3.2.1.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="semantic.min.js")}}'></script>
    <style type="text/css">

        #myclass .result {
            display: none;

        }

        #myclass .result.active{
            display: inline-block;

        }


        #myclass .menu {
            margin-bottom:0;
        }

        #myclass .model {
            margin: 0;
        }

        #myclass .model {
            display: none;
        }

        #myclass .model.active{
            display: block;
        }
        .active {
            display: inline-block;
        }

        .basic_form {
            position: relative;
        }


    </style>
</head>
<body id="myclass">
<div class="ui brown inverted segment">
    <h1>公开数据集应用平台</h1>
    <small>一个希望让公开数据集获得真正的幸福的网站</small>
</div>
<div class="ui secondary pointing menu">
  <!-- <a class="item active">Home</a> -->
  {% for model in models %}
    <a class="item" name="{{model['baseinfo']['name']}}">{{model['baseinfo']['name_cn']}}</a>
  {% endfor %}
</div>

{% for model in models %}
<div class="ui grid model" id="{{model['baseinfo']['name']}}">
    <div class="six wide column">
        <div class="ui segment" >
            <h2>{{model['baseinfo']['name_cn']}}</h2>
            <p>请填入新的{{model['baseinfo']['sample_name']}}数据</p>
            <div class="ui form basic_form">
            
                {% for feature in model['features'] %}
                {% set feature_attr  = model['features'][feature] %}
                <div class="field">
                    <label>{{ feature_attr['describe'] }}</label>
                    {% if feature_attr['type'] == 'numerical' %}
                        <input type="number" name="{{feature}}" value="{{feature_attr['fileds'][0]|round(1)}}" class="ui input">
                    {% else %}
                        <select name="{{feature}}">
                            {% for x in feature_attr['fileds'] %}
                            <option value="{{x}}">{{x}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                {% endfor %}

                <button class="ui button predict">预测一下</button>
            </div>
        </div>
    </div>
    <div class="ui eight wide column result">
        <h3>预测结果：</h3>
        <div>
        
        {% for key in model['target'] %}
            <label>预测{{ model['target'][key]['describe']}}为：</label>
            <span class="prediction"></span>
            {{ break }}
        {% endfor %}
        </div>
        <div>
            <label>概率为：</label>
            <sapn class="proba"></span>
        </div>
    </div>
</div>
{% endfor %}

<script type="text/javascript">
    $(".predict").click(function(){
        var formdata = {'data':{}}
        var model_area = $(this).parents('.model')
        var id = model_area.attr('id')
        model_area.find('input').each(function(){
            formdata['data'][$(this).attr('name')] = parseFloat($(this).val())
        });
        model_area.find('select').each(function(){
            formdata['data'][$(this).attr('name')] = $(this).find(":selected").text()
        });

        console.info(formdata);
        $.ajax({
            url: "/api/predict/"+id,
            data:JSON.stringify(formdata),
            type: "POST",
            contentType : "application/json; charset=utf-8",
            datatype:"json",
        }).done(function(json){
            model_area.find('.result .prediction').text(json['prediction'][0])
            model_area.find('.result .proba').text(json['proba'])
            model_area.find('.result').addClass('active');
            }
        )
    });
    
    $( document ).ready(function(){
        $(".menu .item").first().addClass('active');
        $(".model").first().addClass('active');
    })
    $(".menu .item").click(function(){
        $(".menu .item").removeClass('active');
        $(this).addClass('active');
        $(".model").removeClass('active');
        var id = $(this).attr('name')
        $('#'+id).addClass('active');
    })
</script>
</body>
</html>